.Gif {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: auto;
    max-width: 200px;
    margin-bottom: 20px;
}

.Gif h4 {
    margin: 0;
}
.Gif img {
    object-fit: contain;
}
i {
    font-size: 80px;
}
/* List of gifs */
:root {
    --results-columns : 2
}

.container {
    column-count: var( --results-columns);
    column-gap: 40px;
}

@media (min-width: 700px) {
   :root {
    --results-columns:3
   }

}
@media (min-width: 924px) {
    :root {
     --results-columns:4
    }
 
 }