.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 16px;
    padding: 32px;
    width: 100;
}

.Gif h4 {
    margin: 0;
}
.Gif img {
    object-fit: contain;
}
i {
    font-size: 80px;
}